<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/form.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <!-- header -->
  <div class="header">
    <h1><a href="/">Travelers</a></h1>
    <div class="header-click">
      <a href="/">Home</a>
      <a href="{% url 'board:board_list' %}">자유게시판</a>
      {% if login_session %}
      <a href="{% url 'user:logout' %}" class="">로그아웃</a>
      {% else %}
      <a href="{% url 'user:login' %}">로그인</a>
      <a href="{% url 'user:register' %}">회원가입</a>
      {% endif %}
    </div>
  </div>

  
  {% block contents %}
  {% endblock contents%}
  

  <!-- footer -->
  <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
  <!-- //footer -->
</body>

</html>