{% extends 'home/index.html' %}

{% block contents %}

<div class="boarddetail">
    <div class="detail-category">
        {{ board.board_name }} 게시판
    </div>
    <div class="detail-inform">
        작성자 : {{ board.writer }} | 작성일 : {{ board.write_dttm }} | 조회수 : {{ board.hits }}
    </div>
    <div class="detail-title">
        {{ board.title }}
    </div>
    <div class="detail-content">
        {{ board.contents|safe }}
    </div>
    {% if writer %}
        <a href="/board/detail/{{ board.id }}/update/"><button>수정</button></a>
        <a href="/board/detail/{{ board.id }}/delete/"><button>삭제</button></a>
    {% endif %}
</div>

{% endblock contents %}
