{% extends 'blog/base.html' %}

{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/table.css">
  <link rel="stylesheet" href="/static/css/list.css">
</head>

<body>
    <div class="main">
    <h2 class="main-title">자유게시판</h2>

    <div class="board-top">
      {% comment %} <p class="main-desc"><strong>2개</strong>의 게시글이 있습니다.</p> {% endcomment %}

      <div>
        <label for="category" class="a11y-hidden">카테고리</label>
        <select id="category">
          <option>전체</option>
          <option>공지사항</option>
          <option>일반</option>
        </select>
        <form class="search-form">
          <label for="search" class="a11y-hidden">검색</label>
          <input id="search" type="search" placeholder="검색어를 입력해주세요">
          <button type="submit">
            <img src="/static/img/icon-search.png" alt="검색">
          </button>
        </form>

        <label for="sort" class="a11y-hidden">정렬</label>
        <select id="sort">
          <option>조회순</option>
          <option>최신순</option>
        </select>
        <a href="{% url 'blog:write' %}" class="btn btn-outline-success">글 작성</a>
        <a href="/" class="btn btn-outline-success">메인</a>
      </div>
    </div>


    <!-- 게시판 리스트 -->
    {% if posts %}
        <table class="table table-bordered">
            <colgroup>
                <col style="width: 30px">
                <col style="width: 40px">
                <col style="width: 100px">
                <col style="width: 60px">
                <col style="width: 30px">
            </colgroup>
            <thead class="table-light">
                <tr>
                    <td>카테고리</td>
                    <td>제목</td>
                    <td>내용</td>
                    <td>작성일</td>
                    <td>작성자</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <a href="{% url 'blog:detail' pk=post.pk %}" class="">{{ post.category }}</a>
                        </td>
                        <td>
                            <a href="{% url 'blog:detail' pk=post.pk %}" class="">{{ post.title }}</a>
                        </td>
                        <td>
                            <a href="{% url 'blog:detail' pk=post.pk %}" class="">{{ post.content }}</a>
                        </td>
                        <td>
                            <a href="{% url 'blog:detail' pk=post.pk %}" class="">{{ post.created_at }}</a>
                        </td>
                        <td>{{ post.writer }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- 글이 없을 때: 문구 출력 -->
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
    <!-- //게시판 리스트 -->

    <div class="board-bottom">
      <!-- 페이지 -->
      <div class="pagination">
        <a href="#"><img src="/static/img/first.png" alt="첫번째 페이지"></a>
        <a href="#"><img src="/static/img/prev.png" alt="이전 페이지"></a>
        <a href="#" class="num active">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="num">5</a>
        <a href="#"><img src="/static/img/next.png" alt="첫번째 페이지"></a>
        <a href="#"><img src="/static/img/last.png" alt="이전 페이지"></a>
      </div>
      <!-- //페이지 -->
    </div>
  </div>

  <!-- footer -->
  <footer>
    <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
  <!-- //footer -->
  </footer>
</body>

{% endblock %}